files:
  "/etc/yum.repos.d/logdna.repo" :
    mode: "000644"
    owner: root
    group: root
    content: |
      [logdna]
      name=LogDNA_packages
      baseurl=http://repo.logdna.com/el6/
      enabled=1
      gpgcheck=0
  "/etc/logdna.conf" :
    mode: "000644"
    owner: root
    group: root
    content: |
      key = `{"Fn::GetOptionSetting": {"Namespace": "aws:elasticbeanstalk:application:environment", "OptionName": "LOGDNA_INGESTION_KEY", "DefaultValue": ""}}`
      logdir = /var/log/nginx/access.log,/var/log/nginx/error.log,/var/log/url-shortener.log
  "/home/ec2-user/logdna.sh" :
    mode: "000777"
    owner: root
    group: root
    content: |
      #!/bin/sh
      yum -y install logdna-agent
      chkconfig logdna-agent on
      service logdna-agent --full-restart

commands:
  logdna:
    command: "/home/ec2-user/logdna.sh"
